<!doctype html>
<html class="no-js" lang="en">

<head>
    <script src="https://kit.fontawesome.com/0a7706c204.js" crossorigin="anonymous"></script>
    <title>Home 05 || keystroke Creative Agency Bootstrap4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico">
    
    <link rel="stylesheet" href="public/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/plugins/slick.css">
    <link rel="stylesheet" href="public/css/plugins/font-awesome.css">
    <link rel="stylesheet" href="public/css/plugins/icomoon.css">
    <link rel="stylesheet" href="public/css/plugins/plugins.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/footer1.css">
    <link rel="stylesheet" href="public/css/testmon.css">


</head>

<body>

       
        <header class="ax-header haeder-default  light-logo-version header-transparent axil-header-sticky">
            <div class="header-wrapper1">
                <div class="container-fluid plr--100 plr_lg--30 plr_md--30 plr_sm--10">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-8 header-left">
                            <div class="logo">
                                <a href="home-01.html">
                                    <svg width="281px" height="60px" viewBox="0 0 281 60" version="1.1">
                                        <!-- Generator: Sketch 60.1 (88133) - https://sketch.com -->
                                        <title>Logo</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-315.000000, -40.000000)">
                                                <g>
                                                    <g id="logo" transform="translate(315.000000, 40.000000)">
                                                        <text id="Keystroke-Startup-la" font-family="DMSans-Bold, DM Sans" font-size="20" font-weight="bold" fill="#000248">
                                                            <tspan x="75" y="24">Keystroke</tspan>
                                                            <tspan x="175.14" y="24.5001221" font-family="DMSans-Regular, DM Sans" font-weight="normal"></tspan>
                                                            <tspan x="76.16" y="49.5001221" font-family="DMSans-Regular, DM Sans" font-size="18" font-weight="normal">Startup template</tspan>
                                                        </text>
                                                        <g id="Favicon">
                                                            <rect id="Base" fill="#702FFF" x="0" y="0" width="60" height="60" rx="14"></rect>
                                                            <g id="Group-3" transform="translate(15.000000, 11.000000)">
                                                                <circle id="icon-oval-lg" class="icon-oval-lg" stroke="#FFFFFF" stroke-width="7" cx="15" cy="15" r="11.5"></circle>
                                                                <circle id="icon-oval-sm" class="icon-oval-sm" fill="#FFFFFF" cx="4" cy="34" r="4"></circle>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>

                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xl-6 d-none d-lg-block">
                            <div class="mainmenu-wrapepr justify-content-center">
                              
                                <nav class="mainmenu-nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="has-dropdown"><a href="#">Development</a>
                                            <ul class="axil-submenu">
                                                <li><a href="home-01.html">Digital Agency</a></li>
                                                <li><a href="home-02.html">Creative Agency</a></li>
                                                <li><a href="home-03.html">Personal Portfolio</a></li>
                                                <li><a href="home-04.html">Home Startup</a></li>
                                                <li><a href="home-05.html">Corporate Agency</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="#">Paid Ads</a>
                                            <ul class="axil-submenu">
                                                <li><a href="services.html">Paid Ads</a></li>
                                                <li><a href="service-two.html">Services Two</a></li>
                                                <li><a href="single-service.html">Services Details</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li><a href="contact.html">Contact</a></li>

                                    </ul>
                                </nav>
                              
                            </div>
                        </div>
                        <div class="col-lg-2 col-xl-3 col-md-6 col-sm-6 col-4 header-right">

                            
                            <div class="axil-header-extra d-flex align-items-center justify-content-end">
                               
                                <div class="ax-search-area ml--20">
                                    <a class="search-trigger" href="#"><i class="fas fa-search"></i></a>
                                </div>
                                

                        

                                
                                <div class="ax-menubar popup-navigation-activation d-block d-lg-none ml_sm--20 ml_md--20">
                                    <div>
                                        <i></i>
                                    </div>
                                </div>
                               

                                
                                <div class="axil-search-area">
                                    <form action="#" class="axil-searchbar">
                                        <div class="search-field">
                                            <input type="text" placeholder="Search Here...">
                                            <button class="navbar-search-btn" type="button"><i
                                        class="fal fa-search"></i></button>
                                        </div>
                                        <a href="#" class="navbar-search-close"><i class="fal fa-times"></i></a>
                                    </form>
                                </div>
                               
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
        <div class="popup-mobile-manu">
            <div class="inner">
                <div class="mobileheader">
                    <div class="logo">
                        <a href="home-01.html">
                            <img src="public/images/logo/keystoke.svg" alt="Logo images">
                        </a>
                    </div>
                    <a class="close-menu" href="#"></a>
                </div>
                <div class="menu-item">
                    <ul class="mainmenu-item">
                        <li class="has-children"><a href="#">Development</a>
                            <ul class="submenu">
                                <li><a href="home-01.html">Digital Agency</a></li>
                                <li><a href="home-02.html">Creative Agency</a></li>
                               
                        </li>
                        <li class="has-children"><a href="#">Paid Ads</a>
                            <ul class="submenu">
                                <li><a href="services.html">Services</a></li>
                                <li><a href="service-two.html">Services Two</a></li>
                                <li><a href="single-service.html">Services Details</a></li>
                            </ul>
                        </li>
                       
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
       
                    </div>
                </div>
                
                <div class="close-sidenav" id="close-sidenav">
                    <button class="close-button"><i class="fal fa-times"></i></button>
                </div>
            </div>
        </div>
        

        <main class="main-wrapper">
           
            <div class="axil-slider-area axil-slide-activation position-relative">
              
                <div class="axil-slide slide-style-5 theme-gradient-8 d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center w-100">
                            <div class="col-lg-8 col-12">
                                <div class="content">
                                    <div class="inner">
                                        <h1 class="axil-display-1 mb--40 wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms"text-color: #ffff;>Best Businesses <br />Runs When<br />UltraSeoForce Works!</h1>
                                        <a class="axil-button  btn-large btn-transparent wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms" href="#"><span
                                                class="button-text">call now </span><span
                                                class="button-icon"></span></a>
                                                <a class="axil-button  btn-large btn-transparent wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms" href="#"><span
                                                    class="button-text">Whatsapp Now</span><span
                                                    class="button-icon"></span></a>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="contact-form-wrapper">
                        <div class="axil-contact-form contact-form-style-1">
                            <h3 class="title">Get a free quote now</h3>
                            <form action="https://formsubmit.co/saptrishi2019@gmail.com" method="POST">
                                <div class="form-group">
                                    <input type="text" required>
                                    <label>Name</label>
                                    <span class="focus-border"></span>
                                </div>
                                <div class="form-group">
                                    <input type="email" required>
                                    <label>Email</label>
                                    <span class="focus-border"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" required>
                                    <label>phone</label>
                                    <span class="focus-border"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="textarea" required >
                                        <label>Description about business</label>
                                        <span class="focus-border"></span>
                                </div>
                                <div class="form-group">
                                    <label for="text"></label>
                                    <select id="option" name="option" required>
                                        <option value="">None</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Ecommerce Development">Ecommerce Development</option>
                                        <option value="SEO">Seo</option>
                                        <option value="Google/FB ads">Google/FB ads</option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <button class="axil-button btn-large btn-transparent w-100">
                                        <span class="button-textf">Get Pricing Now</span><span
                                            class="button-icon"></span>
                                    </button>
                                </div>
                            </form>
                            <div class="callto-action-wrapper text-center">
                                <span class="text">Or call us now</span>
                                <span><i class="fal fa-phone-alt"></i> <a href="#">(123) 456 7890</a></span>
                            </div>
                        </div>
                    </div>
                 
                </div>
              
            </div>
           

            
            <!-- Start Service Area -->
            <div class="axil-service-area ax-section-gap bg-color-white">
                <div class="container pt--110 pt_md--0 pt_sm--0">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6">
                            <div class="section-title text-start mb--120 mb_md--5 mb_sm--5">
                                <span class="sub-title extra08-color wow" data-splitting>what we can do for you</span>
                                <h2 class="title wow" data-splitting><span>Services we can help <br /> you with</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray">
                                <div class="inner">
                                    <div class="icon gradient-color-04">
                                        <div class="icon-inner">
                                            <img src="public/images/icons/layer.svg" alt="Icon Images">
                                            <div class="image-2"><img src="public/images/icons/icon-02.svg" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="single-service.html">Development</a></h4>
                                        <p class="wow">We design professional looking yet simple websites. Our designs are search engine and user friendly. </p>
                                        <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top">
                                <div class="inner">
                                    <div class="icon gradient-color-02">
                                        <div class="icon-inner">
                                            <img src="public/images/icons/layer.svg" alt="Icon Images">
                                            <div class="image-2"><img src="public/images/icons/icon-03.svg" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="single-service.html">Seo</a>
                                        </h4>
                                        <p class="wow">We design professional looking yet simple websites. Our designs are search engine and user friendly. </p>
                                        <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top2">
                                <div class="inner">
                                    <div class="icon gradient-color-03">
                                        <div class="icon-inner">
                                            <img src="public/images/icons/layer.svg" alt="Icon Images">
                                            <div class="image-2"><img src="public/images/icons/icon-03.svg" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="single-service.html">Paid Ads</a></h4>
                                        <p class="wow">We design professional looking yet simple websites. Our designs are search engine and user friendly.</p>
                                        <a class="axil-button" data-hover="Learn More" href="single-service.html">Learn
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
            </div>
            <!-- End Service Area -->
           
            <div class="axil-portfolio-area ax-section-gap bg-color-lightest">
                <div class="container axil-masonary-wrapper">
                    <div class="row align-items-end">
                        <div class="col-lg-5 col-md-12">
                            <div class="section-title mb_md--20 mb_sm--20">
                                <span class="sub-title extra07-color wow" data-splitting>our projects</span>
                                <h2 class="title wow mb--0" data-splitting>Some of our finest work.</h2>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="messonry-button text-start text-lg-end">
                                <button data-filter="*" class="is-checked"><span class="filter-text">Development</span></button>
                                <button data-filter=".cat--1"><span class="filter-text">Branding</span></button>
                                <button data-filter=".cat--2"><span class="filter-text">SEO</span></button>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mesonry-list grid-metro3 mt--20">
                               
                                <div class="portfolio portfolio_style--1 axil-control active portfolio-33-33 cat--1 cat--2">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-01.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">Creative
                                                        Agency</a></h4>
                                                <span class="category">ios, design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                               
                                <div class="portfolio portfolio_style--1 axil-control portfolio-33-33 cat--3">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-02.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">Rant bike</a></h4>
                                                <span class="category">Branding</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                                <div class="portfolio portfolio_style--1 portfolio-33-33 cat--2 cat--3">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-03.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">All Volees</a></h4>
                                                <span class="category">Web application</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         
                                <div class="portfolio portfolio_style--1 portfolio-33-33 cat--1 cat--2">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-04.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">Larq</a></h4>
                                                <span class="category">Branding, design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                               
                                <div class="portfolio portfolio_style--1 portfolio-33-33 cat--3">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-05.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">Rant bike</a></h4>
                                                <span class="category">Branding</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                                <!-- Start Single Portfolio -->
                                <div class="portfolio portfolio_style--1 portfolio-33-33 cat--2 cat--3">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="single-case-study.html"><img src="public/images/portfolio/portfolio-01.jpg" alt="Portfolio Images"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="single-case-study.html">Creative
                                                        Agency</a></h4>
                                                <span class="category">ios, design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                            <div class="view-all-portfolio-button mt--60 text-center move-up wow">
                                <a class="axil-button btn-extra-large btn-transparent" href="#"><span
                                        class="button-text">Discover
                                        More Projects</span><span class="button-icon"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

</div>
</div>

<div class="close-sidenav" id="close-sidenav">
    <button class="close-button"><i class="fal fa-times"></i></button>
</div>
</div>
</div>


<main class="main-wrapper">

<div class="axil-slider-area axil-slide-activation position-relative">

<div class="axil-slide slide-style-5 theme-gradient-8 d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center w-100">
            <div class="col-lg-8 col-12">
                <div class="content">
                    <div class="inner">
                        <h1 class="axil-display-1 mb--40 wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms">Do you want a<br /> successful Project? </h1>
                        <a class="axil-button  btn-large btn-transparent wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms" href="#"><span
                                class="button-text">Call Now</span><span
                                class="button-icon"></span></a>
                                <a class="axil-button  btn-large btn-transparent wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms" href="#"><span
                                    class="button-text">Whatsapp Now</span><span
                                    class="button-icon"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="contact-form-wrapper">
        <div class="axil-contact-form contact-form-style-1">
            <h3 class="title">Get a free quote now</h3>
            <form action="https://formsubmit.co/saptrishi2019@gmail.com" method="POST">
                <div class="form-group">
                    <input type="text" required>
                    <label>Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="form-group">
                    <input type="email" required>
                    <label>Email</label>
                    <span class="focus-border"></span>
                </div>
                <div class="form-group">
                    <input type="text" required>
                    <label>phone</label>
                    <span class="focus-border"></span>
                    </div>
                    <div class="form-group">
                        <input type="textarea" required >
                        <label>Description about business</label>
                        <span class="focus-border"></span>
                </div>
                <div class="form-group">
                    <label for="text"></label>
                    <select id="option" name="option" required>
                        <option value="">None</option>
                        <option value="Web Development">Web Development</option>
                        <option value="Ecommerce Development">Ecommerce Development</option>
                        <option value="SEO">Seo</option>
                        <option value="Google/FB ads">Google/FB ads</option>
                      </select>
                </div>
                <div class="form-group">
                    <button class="axil-button btn-large btn-transparent w-100">
                        <span class="button-textf">Get Pricing Now</span><span
                            class="button-icon"></span>
                    </button>
                </div>
            </form>
            <div class="callto-action-wrapper text-center">
                <span class="text">Or call us now</span>
                <span><i class="fal fa-phone-alt"></i> <a href="#">(123) 456 7890</a></span>
            </div>
        </div>
    </div>
 
</div>

</div>

            <div class="axil-counterup-area ax-section-gap bg-color-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="sub-title extra08-color wow" data-splitting>experts in field</span>
                                <h2 class="title wow" data-splitting>Design startup movement</h2>
                                <p class="subtitle-2 wow" data-splitting>In vel varius turpis, non dictum sem. Aenean in efficitur ipsum, in egestas ipsum. Mauris in mi ac tellus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                 
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="axil-counterup mt--60 text-center counter-first move-up wow">
                                <div class="icon">
                                    <div class="image-2"><img src="public/images/icons/icon-03.svg" alt="Shape Images"></div>
                                </div>
                                <h3 class="count">15</h3>
                                <p>Years of operation</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="axil-counterup mt--60 text-center counter-second move-up wow">
                                <div class="icon">
                                    <img src="public/images/counterup/shape-02.png" alt="Shape Images">
                                </div>
                                <h3 class="count">360</h3>
                                <p>Projects deliverd</p>
                            </div>
                        </div>
                       
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="axil-counterup mt--60 mt_md--30 mt_sm--30 text-center counter-third move-up wow">
                                <div class="icon">
                                    <img src="public/images/counterup/shape-03.png" alt="Shape Images">
                                </div>
                                <h3 class="count">800</h3>
                                <p>Specialist</p>
                            </div>
                        </div>
                       
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="axil-counterup mt--60 text-center counter-four move-up wow">
                                <div class="icon">
                                    <img src="public/images/counterup/shape-04.png" alt="Shape Images">
                                </div>
                                <h3 class="count">64</h3>
                                <p>Years of operation</p>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            
            <div class="axil-testimonial-area ax-section-gap bg-color-lightest">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="sub-title extra05-color wow" data-splitting>testimonials</span>
                                <h2 class="title wow" data-splitting>From getting started</h2>
                                <p class="subtitle-2 wow" data-splitting>In vel varius turpis, non dictum sem. Aenean in efficitur ipsum, in egestas ipsum. Mauris in mi ac tellus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-activation">
                        <div class="row axil-testimonial-single">
                           
                            <div class="col-lg-6 mt--60">
                                <div class="axil-testimonial testimonial active move-up wow">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="thumb">
                                                <img src="public/images/testimonial/client-01.jpg" alt="Clint Images">
                                            </div>
                                            <div class="client-info">
                                                <h4 class="title">Martha Maldonado</h4>
                                                <span>Executive Chairman @ Google</span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-lg-6 mt--60">
                                <div class="axil-testimonial axil-control testimonial move-up wow">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="thumb">
                                                <img src="public/images/testimonial/client-02.jpg" alt="Clint Images">
                                            </div>
                                            <div class="client-info">
                                                <h4 class="title">Martha Maldonado</h4>
                                                <span>Executive Chairman @ Google</span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-lg-6 mt--60">
                                <div class="axil-testimonial axil-control testimonial move-up wow">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="thumb">
                                                <img src="public/images/testimonial/client-02.jpg" alt="Clint Images">
                                            </div>
                                            <div class="client-info">
                                                <h4 class="title">Martha Maldonado</h4>
                                                <span>Executive Chairman @ Google</span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                             <div class="col-lg-6 mt--60">
                                <div class="axil-testimonial axil-control testimonial move-up wow">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="thumb">
                                                <img src="public/images/testimonial/client-02.jpg" alt="Clint Images">
                                            </div>
                                            <div class="client-info">
                                                <h4 class="title">Martha Maldonado</h4>
                                                <span>Executive Chairman @ Google</span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit.</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                    </div>
                </div>
                <!-- Start Footer Area -->
        <footer class="axil-footer footer-default theme-gradient-2">
            <div class="bg_image--2">
                <!-- Start Social Icon -->
                <div class="ft-social-icon-wrapper ax-section-gapTop">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="ft-social-share d-flex justify-content-center liststyle flex-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Social Icon -->
                <!-- Start Footer Top Area -->
                <div class="footer-top ax-section-gap">
                    <div class="container">
                        <div class="row">
                            <!-- Start Single Widget -->

                            <!-- End Single Widget -->
                             <!-- Start Single Widget -->
                             <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                                <div class="footer-widget-item">
                                    <h6 class="title">Services</h6>
                                    <div class="footer-menu-container">
                                        <ul class="ft-menu liststyle link-hover">
                                            <li><a href="#">Logo & Branding</a></li>
                                            <li><a href="#">Website Development</a></li>
                                            <li><a href="#">Mobile App Development</a></li>
                                            <li><a href="#">Search Engine Optimization</a></li>
                                            <li><a href="#">Pay-Per-Click</a></li>
                                            <li><a href="#">Social Media Marketing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                                
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                                
                            </div>
                            <!-- Start Single Widget -->
                            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12 mt_lg--30 mt_md--30 mt_sm--30">
                                <div class="footer-widget-item">
                                    <form action="https://formsubmit.co/saptrishi2019@gmail.com" method="POST">
                                        <div class="form-group">
                                            <input type="text" required>
                                            <label>Name</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" required>
                                            <label>Email</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" required>
                                            <label>phone</label>
                                            <span class="focus-border"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="textarea" required >
                                                <label>Description about business</label>
                                                <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="text"></label>
                                            <select id="option" name="option" required>
                                                <option value="">None</option>
                                                <option value="Web Development">Web Development</option>
                                                <option value="Ecommerce Development">Ecommerce Development</option>
                                                <option value="SEO">Seo</option>
                                                <option value="Google/FB ads">Google/FB ads</option>
                                              </select>
                                        </div>
                                        <div class="form-group">
                                            <button class="axil-button btn-large btn-transparent w-100">
                                                <span class="button-textf">Get Pricing Now</span><span
                                                    class="button-icon"></span>
                                            </button>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
                <!-- End Footer Top Area -->
                <!-- Start Copyright -->
                <div class="copyright copyright-default">
                    <div class="container">
                        <div class="row row--0 ptb--20 axil-basic-thine-line">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="inner text-center text-md-start">
                                    <p>© 2022. Ultra Seo Force.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="quick-contact">
                                    <ul class="link-hover d-flex justify-content-center justify-content-md-end liststyle">
                                        <li><a data-hover="Privacy Policy" href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright -->
            </div>
        </footer>





</div>



</div>




            
       
============================================ -->


    <script src="public/js/vendor/modernizr.min.js"></script>
  
    <script src="public/js/vendor/jquery.js"></script>
    
    <script src="public/js/vendor/bootstrap.min.js"></script>
    <script src="public/js/waypoints.min.js"></script>
    <script src="public/js/wow.js"></script>
    <script src="public/js/counterup.js"></script>
    <script src="public/js/imagesloaded.js"></script>
    <script src="public/js/isotope.js"></script>
    <script src="public/js/tilt.js"></script>
    <script src="public/js/anime.js"></script>
    <script src="public/js/tweenmax.js"></script>
    <script src="public/js/slipting.js"></script>
    <script src="public/js/scrollmagic.js"></script>
    <script src="public/js/addindicators.js"></script>
    <script src="public/js/slick.js"></script>
    <script src="public/js/youtube.js"></script>
    <script src="public/js/countdown.js"></script>
    <script src="public/js/scrollup.js"></script>
    <script src="public/js/stickysidebar.js"></script>
    <script src="public/js/js.cookie.js"></script>
    <script src="public/js/jquery.style.switcher.js"></script>
    <script src="public/js/contactform.js"></script>
  
    <script src="public/js/plugins/plugins.min.js"></script>
   
    <script src="public/js/main.js"></script>

</body>

</html>